body {
    font-family: 'Courier New', Courier, monospace;
}

.title {
    background-color: #f54242;
    color: #FFFFFF;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.description {
    background-color: #4281f5;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.ingredients  {
    background-color: #e09200;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.steps {
    background-color: #00e074;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

#list {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}
